* {
  outline: 1px solid Chocolate;
}

body {
  background-color: LightGray;
}
/*div, .logo, .links {
  outline: 1px solid Chocolate;
}*/
/*You can center content by using the combination
of auto left and right margins
with a width less than 100%.*/
.content {
  margin: 0 auto;
  padding: 0 0.938rem;
  min-width: 37.5rem;
  width: 80%;
}

.top-navigation {
  display: block;
  height: 4.375rem;
  background-color: #fff;
  position:fixed;
  width: 100%;
}

.logo {
  display: inline-block;
  vertical-align: middle;
}

li {
  display: inline;
  padding-left: .25rem;
  padding-right: .25rem;
}

.links {
  display: inline-block;
  vertical-align: middle;
  margin-left: 2rem;
  margin-right: auto;
  float:right;
}
