html {
  box-sizing: border-box;
}

*, *:before, *:after {
  /*outline: 1px solid Chocolate;*/
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-color: LightGray;
}

a {
  color: inherit;
}

h1 {
  margin: 0;
  padding: 0;
}

.top-navigation {
background-color: #fff;
}

.content {
  margin: 0 auto;
  min-width: 600px;
  width: 100%;
}

.top-navigation .links {
  float: right;
  font-family: 'Roboto', sans-serif;
  color: #838994;
  font-size: 16px;
  margin-top: 25px;
  -webkit-font-smoothing: antialiased;
}

.top-navigation > .content {
  height: 70px;
  padding: 0px 15px;
}

.top-navigation .links li {
  display: inline-block;
  margin-left: 25px;
}

.top-navigation .links .active {
  color: #4c5058;
  font-weight: 500;
}

.top-navigation .links li:hover {
  cursor: pointer;
  color: #333333;
}

.top-navigation .logo {
  margin-top: 12px
}

.introduction {
  background-image: url('../images/first-background.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45.938rem;
  overflow: auto;
}

h1, h3 {
  color: #FFF;
  text-align: center;
}

h1 {
  margin-top: 9rem;
}

h3 {
  margin-top: 2rem;
}

.buttons {
  color: white;
  text-align: center;
  margin-top: 1.563rem;
}

button {
  color: white;
  width: 160px;
  height: 50px;
  background-color: #f15a29;
  border-width: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border-radius: 5px;
  margin: auto;
}
